*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(43, 190, 190);
}
.maincontainer{
    margin: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex{
    width: 100px;
    height: 100px;
    margin: 1vw;
    background-color: rgb(18, 100, 100);
    border: 2px solid black;
    border-radius: 10px;
}
.change{
    width: 150px;
    height: 75px;
    border-radius:10px;
    background-color: antiquewhite;
    margin-left: 45vw;

}
.hello{
    cursor: pointer;
}
#heading{
    cursor: pointer;
}
p{
    font-size: 1.2rem;
}
.clocked{
    font-size: 2rem;
    font-weight: bolder;
}